#get
	padding 50px 0
	background-color: #511C6B
	background-image url(../img/get_bg.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
.general_title_get
	small
		display block
		text-transform: none
.get_packet
	border: 1px solid rgb(62, 37, 28);
	border-radius: 20px;
	background-color: rgba(234, 216, 248, .8);
	width: 900px;
	padding 20px
	position relative
	margin-bottom: 40px
	float left
.get_packet_gold
	float: right
.get_packet_platinum
	margin-bottom: 0
.get_packet_title
	font-size: 60px;
	line-height: 60px
	font-family: "OpenSansExtraBold", sans-serif;
	color: rgba(45, 34, 51, 0.2);
	text-transform: uppercase;
	position: absolute
	top 25px
	right 20px
.get_packet_list
	li
		color: rgb(0, 0, 0);
		line-height: 1.5;
		margin-bottom: 10px
		position relative
		padding-left: 25px
		list-style: none
		width 100%
		&:before
			content ''
			display block
			position: absolute;
			width: 8px;
			height: 8px;
			border-radius: 50px
			background-color: #00222B
			top 8px
			left 0
		&:last-child
			margin-bottom: 0
.get_packet_text
	font-family: "OpenSansBold", sans-serif;
	color: rgb(45, 34, 51);
	line-height: 1.5;
	font-size: 18px
	margin-top: 15px