@media screen and (min-width 2295px)
	body
	.plan_packet_subtitle
	.get_packet_text
	.packet_body_title
		font-size: 20px
	.container
		width 1400px
	.button 
		max-width 300px
	.plan_tabs
		max-width 1100px
	.get_packet
		width 1100px
	.more_button
		font-size: 16px
	.packet_body
		min-height 164px
	.modal_list li
		font-size: 18px
	footer p
	#conditions
		font-size: 16px
@media screen and (max-width 1199px)
	#logo
		width 200px
	.contacts
		line-height: 28px
	.get_packet
		float: none
		margin-left: auto
		margin-right: auto
		width 100%
		max-width 900px
	.modal-dialog
		max-width 100%
		width 90%
@media screen and (max-width 991px)
	#logo
		display block
		float: none
		margin 0 auto
	.contacts
		float: none
		line-height: 16px
		text-align: center
	.contact
		margin 5px 5px 0
		display: inline-block
		span
			padding-left: 5px
	#main
	#plan
	#get
	#prices
	#feedback
		padding 40px 0
	#tasks
		padding 40px 0 0
	.get_packet_title
		position: static
		margin-bottom: 10px
	.packet_body
		min-height 190px
	footer p br
		display: none
@media screen and (max-width 767px)
	.plan_tabs_buttons li
		max-width 120px
		&:nth-child(2)
			margin 0 10px
	.get_packet_title
		font-size: 50px
		line-height: 50px
	.packet_body
		min-height 1px
	#vk
		margin-bottom: 25px
	.modal-dialog
		margin 10px auto
@media screen and (max-width 485px)
	#logo
		width 180px
	.contacts
		line-height: 14px
	.contact
		font-size: 12px
	.general_title
		margin-bottom: 30px
	#main
	#plan
	#get
	#prices
	#feedback
		padding 30px 0
	#tasks
		padding 30px 0 0
	.main_title
		font-size: 28px
	.main_subtitle
		font-size: 24px
		margin-bottom: 30px
	.main_text:last-of-type
	.plan_tabs
		margin-bottom: 30px
	.plan_tabs_buttons
		margin-bottom:  0
		li
			margin: 0 0 10px
			font-size: 16px
			max-width 80px
			&:nth-child(2)
				margin: 0 3px 10px
	.plan_packet
	.get_packet
	.days_container
		padding 15px
	.get_packet_title
		font-size: 40px
		line-height: 40px
	.get_packet_list li
		padding-left: 15px
		line-height: 1.3
	.get_packet
		margin-bottom: 20px
	.mail_modal-content
		padding 10px
	.modal_list
		margin-left: 5px
	.prepaymant_title
		font-size: 26px
	.prepayment_text
	.alert-danger
	footer h5
		font-size: 18px
	.timer_title
		font-size: 26px
		margin-top: 20px
	.general_title_recs
		margin-top: 30px
		margin-bottom: 20px
	.garants
		margin-top: 30px
		padding 15px
	.flip-clock-wrapper
		width 100%
		max-width 260px
		margin-top: 30px
	.flip-clock-wrapper ul
		height 50px
		margin 3px
	.flip-clock-wrapper ul li
		line-height: 50px
	.flip-clock-wrapper ul li a div.up::after
		top 24px
	.flip-clock-wrapper ul li a div div.inn
		font-size: 40px
	.flip-clock-divider
		height 50px
	.flip-clock-dot
		width 7px
		height 7px
		left 3px
	.flip-clock-dot.top
		top 31px
	.flip-clock-dot.bottom
		bottom: 27px
	.flip-clock-divider .flip-clock-label
	.flip-clock-divider.minutes .flip-clock-label
	.flip-clock-divider.seconds .flip-clock-label
		font-size:  10px
		right: -59px
	.days_buttons li
		font-size: 16px
		max-width 85px
	.days_buttons li:nth-child(2)
		margin 0 10px
	.soc_buttons a
		margin 10px 5px
	footer #conditions, footer p
		font-size: 12px
	.modal_title
		font-size: 20px
	.modal_subtitle
		font-size: 18px
	.get_packet_text
		line-height: 1.3
	.days_buttons
		font-size: 18px
		margin-bottom: 0
		li
			margin 0 0 10px
			max-width 80px
			&:nth-child(2)
				margin 0 3px 10px
@media screen and (max-width 380px)
	.pre
		font-size: 16px
	.main_title
		font-size: 20px
		margin 0 0 10px
	.main_subtitle
		font-size: 18px
		margin-bottom: 15px
	.main_text
		font-size: 18px
	.general_title
	.plan_packet_title
		font-size: 20px
	.plan_packet_subtitle
		margin-bottom: 10px
	.get_packet_title
		font-size: 30px
		line-height: 30px
	.packet
		padding 15px
	.packet_head
		padding-bottom: 15px
	.packet_footer
		padding-top: 15px
	.packet_body
		padding 15px 0
	.timer_title
	.prepaymant_title
		line-height: 1.3
		font-size: 22px
	.buy_recs_text
		font-size: 18px
	.mail_modal-content
		padding 0