#tasks
	padding 50px 0 0

#feedback
	padding 50px 0
#vk
#fb
	overflow hidden
	border-radius: 3px
	background-color #fff
	box-shadow: 5px 5px 0px 0px rgba(214,201,224,0.45)
.days
	width 100%
	max-width 650px
	margin 0 auto
.days_buttons
	width 100%
	text-align: center
	margin-bottom: 20px
	li
		display: inline-block
		cursor pointer
		border-radius: 20px
		font-size: 18px
		width 100%
		max-width 100px
		height 40px
		line-height 38px
		background-color: #D6C8AD
		color #47075E
		transition: all .3s ease-out
		border 1px solid #D6C8AD
		&:nth-child(2)
			margin 0 15px
		&:hover
			border 1px solid #47075E
			background-color: #47075E
			color #D6C8AD
			font-family: "OpenSansBold", sans-serif;
	.active2
		border 1px solid #47075E
		background-color: #47075E
		color #D6C8AD
		font-family: "OpenSansBold", sans-serif;
.days_container
	padding 20px
	background-color rgba(234,216,248,0.4)
	border-radius: 20px
	box-shadow: 5px 5px 0px 0px rgba(234,216,248,1);
.day_title
	text-align: center
	font-size: 20px
	font-family: "OpenSansBold", sans-serif;
	margin-bottom: 10px
.video_text
	font-size: 18px
	margin-top: 10px
.modal-backdrop.in
	opacity .9
.modal-dialog
	width 100%
	max-width 860px
.mail_modal-content
	background-color: #571D6E
	border-radius: 20px
	padding 20px 15px
button.close
	position absolute
	width: 35px
	height 35px
	border-radius: 50px
	line-height: 30px
	text-align: center
	font-size: 24px
	color: #000
	background-color: #F0F0F0
	top 10px
	right 10px
	left auto
	z-index 99
	opacity 1
	transition: all .1s ease-in-out
	&:hover
		color: #F0F0F0
		background-color: #000
.modal_title
	font-size: 22px
	font-family: 'OpenSansBold', sans-serif
	color rgba(255,255,255,.8)
.modal_subtitle
	font-size: 20px
	margin  15px 0
	color rgba(255,255,255,.8)
.modal_list
	margin-left: 15px
	li
		color: rgba(255,255,255,.9);
		&:before
			background-color:rgba(255,255,255,.9);
.modal_bonus
	font-size: 18px
	margin-top: 10px
	color: rgba(255,255,255,.9);
	span
		display block
		font-family: 'OpenSansBold', sans-serif