@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	#main
	#feedback
		padding 60px 0
	footer p
		font-size: 16px
	#main.remind
		min-height calc(100vh - 247px)
	.remind_main_title
		margin 40px 0 60px
@media screen and (max-width 1199px)
	#logo
		width 200px
	.contacts
		line-height: 28px
	#main.remind
		min-height calc(100vh - 234px)
@media screen and (max-width 991px)
	#logo
		display block
		float: none
		margin 0 auto
	.contacts
		float: none
		line-height: 16px
		text-align: center
	.contact
		margin 5px 5px 0
		display: inline-block
		span
			padding-left: 5px
	#main
	#feedback
		padding 40px 0
	footer p br
		display: none
@media screen and (max-width 767px)
	#vk
		margin-bottom: 25px
@media screen and (max-width 485px)
	#logo
		width 180px
	.contacts
		line-height: 14px
	.contact
		font-size: 12px
	#main
	#feedback
		padding 30px 0
	.main_title
		font-size: 26px
		margin 10px 0 20px
	.general_title
		font-size: 20px
		margin-bottom: 20px
	footer h5
		font-size: 18px
	.soc_buttons a
		margin 5px
	footer p
		font-size: 12px
	.remind_main_subtitle
		font-size: 20px
@media screen and (max-width 380px)
	.pre
		font-size: 16px
	.main_title
		font-size: 20px
		margin 10px 0
	.general_title
	.remind_main_subtitle
		font-size: 18px