section#main
	.container
		p.pre Бонус от Анны Скуцкой
		h1.main_title «Диагностика ситуации выбора»
		p.main_text Старт интенсива: 
			span с 13 мая, в 20:00 (МСК)
		.video_wrapper.video_wrapper_main
			iframe(src="https://youtube.com/embed/4OUacH5c23s?rel=0&autoplay=0" allowfullscreen)