-var head_url = 'https://skutskaya.mastervision.su/rune-programming/bonus/';
-var head_title = '«Диагностика ситуации выбора»';
-var head_description = 'Бонус от Анны Скуцкой';
-var styles = '../css/bonus.css';
-var fb_content = '2030481470529055'

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head_in
		<!-- Facebook Pixel Code -->
		script
			| !function(f,b,e,v,n,t,s) {if(f.fbq)return;n=f.fbq=function(){n.callMethod? n.callMethod.apply(n,arguments):n.queue.push(arguments)}; if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0'; n.queue=[];t=b.createElement(e);t.async=!0; t.src=v;s=b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t,s)}(window, document,'script', 'https://connect.facebook.net/en_US/fbevents.js'); fbq('init', '869611096574211'); fbq('track', 'PageView');
		noscript
			img(height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=869611096574211&ev=PageView&noscript=1")
		<!-- End Facebook Pixel Code -->
		include pug/scripts/head_fb_scripts
	body
		include pug/scripts/body_top_fb_scripts
		include pug/bonus/header
		include pug/bonus/main
		include pug/bonus/feedback
		include pug/bonus/footer
		include pug/scripts/body_bottom_scripts