-var head_url = 'https://skutskaya.mastervision.su/rune-programming/bonus/';
-var head_title = '«Диагностика ситуации выбора»';
-var head_description = 'Бонус от Анны Скуцкой';
-var styles = '../css/bonus.css';
-var fb_content = '2030481470529055'

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head_in
		include pug/scripts/head_fb_scripts
	body
		include pug/scripts/body_top_fb_scripts
		include pug/bonus/header
		include pug/bonus/main
		include pug/bonus/feedback
		include pug/bonus/footer
		include pug/scripts/body_bottom_scripts