-var head_url = 'https://skutskaya.mastervision.su/rune-programming/home-task-2/';
-var head_title = '«Прописываем рунескрипт на выбранном носителе»';
-var head_description = '2 домашнее задание от Анны Скуцкой';
-var styles = '../css/bonus.css';
-var fb_content = '2030481470529055'
-var video = 'I7y5lITn8m4';

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head_in
		include pug/scripts/head_fb_scripts
	body
		include pug/scripts/body_top_fb_scripts
		include pug/bonus/header
		include pug/ht/main
		include pug/bonus/feedback
		include pug/bonus/footer
		include pug/scripts/body_bottom_scripts