section#for
	.container
		h3.general_title.general_title_light.general_title_for Каждый раз, когда вы хотите прописать руническую формулу, вы задаетесь вопросом: чем же лучше прописать? Каким цветом?
		h4.for_subtitle В этом видео курсе вы найдете ответ на свои вопросы:
		ul.for_list
			li Влияет ли цвет на воздействие рун?
			li Как цвет влияет на свойства некоторых рун старшего футарка?
			li Можно ли усилить нужное действие рун с помощью цвета?
		.cost.cost_light.cost_full.cost_full_for Стоимость - 
			span 4900р.
		a.button.button_for(href= o_price target="_blank") Купить за 490р.!