section#get
	.container
		h3.general_title.general_title_get Что вы получите от мини-курса:
		ul.get_list
			li Вы получите информацию о том, как влияют различные цвета на воздействие рун
			li Сможете применить знания о влиянии цвета для усиления своих формул и даже отдельных рун 
			li Ваши рунические формулы будут работать быстрее, эффективнее и слаженнее, когда вы сможете правильно задействовать энергию цвета 