section#last
	.container
		p.last_text Это очень насыщенное примерами, практическими советами и рекомендациями занятия, полноценные записи которых, в благодарность за подписку, вы можете приобрести по самой низкой цене
		p.last_text Как Развить в Себе Необходимые Вам Личные Качества, и Добиться Успеха всего за Несколько Недель, Даже Если в Вас до Этого Никто Не Верил
		a.button.button_last(href= o_price target="_blank") Воспользоваться предложением