section#main
	.container
		p.pre Поздравляем!
		h1.main_title Вы успешно подписались на бесплатный интенсив 
			span "Программирование ситуаций на языке рун". 
			| БОНУС уже вам отправлен на почту и он буквально через несколько минут будет у вас!!!
		h2.main_subtitle Но, не спешите закрывать страничку, у меня для вас уникальное предложение!
		h3.main_subtitle_2 Приобретая это уникальное предложение, вы получаете мини-курс в записи из 6 видео-уроков, раскрывающих секреты предназначены для людей, которые мечтают получать желаемое легче и быстрее, и благоприятным для себя способом предотвращать или изменять негативные события, влияющие на жизнь и мешающие быть счастливыми и успешными. Мои техники дают невероятно удивительные результаты и всегда достигают поставленных целей. Кроме этого вы бонусом получите записи всех дней предстоящего интенсива в полном формате
		h4.only.main_only ТОЛЬКО ДЛЯ УЧАСТНИКОВ ИНТЕНСИВА
		.cost.cost_full Стоимость - 
			span 4900р.
		a.button.button_main(href= o_price target="_blank") Купить за 490р.!