section#author
	.container
		h3.general_title.general_title_author О тренере:
		.custom_container
			#anna_img
			.author_info
				h4.author_info_title Анна Скуцкая:
				ul.author_info_list
					li Практикующий  рунолог
					li Консультирую бизнесменов и стартапы
					li 8 лет наблюдаю трансформации в жизни учеников и клиентов
					li 5 лет обучаю людей самостоятельно помогать себе
					li Руковожу студией астрологии «Астролоджи Ленд»