section#for
	.container
		h3.general_title Этот интенсив необходим для тех, кто:
		.custom_container
			.row
				.col-md-6.col-sm-6
					.for_text.for_text_1
						.for_icon.for_icon_1
						p Хочет научиться работать с рунами, чтобы решать свои жизненно важные вопросы и задачи.
					.for_text.for_text_2
						.for_icon.for_icon_2
						p Хочет спланировать свое будущее и избавиться от постоянного режима цейтнота
					.for_text.for_text_3
						.for_icon.for_icon_3
						p Боится, что завтра все может резко измениться, и не уверен в стабильном будущем
					.for_text.for_text_4
						.for_icon.for_icon_4
						p Боится совершить ошибку и предпочитает прежде всего продиагностировать ситуацию и выбрать безопасный путь
					.for_text.for_text_5
						.for_icon.for_icon_5
						p Не хочет терять время и деньги, а ищет способы уберечь себя от ошибок
				.col-md-6.col-sm-6
					.for_text.for_text_6
						.for_icon.for_icon_6
						p Хочет овладеть дополнительным инструментом и помогать себе, родным и близким, уберегая их от потерь и ошибок
					.for_text.for_text_7
						.for_icon.for_icon_7
						p Хочет стать сертифицированным мастером скандинавских рун и получать постоянный доход,  сделав руны своей профессией
					.for_text.for_text_8
						.for_icon.for_icon_8
						p Устал ошибаться в выборе партнеров
					.for_text.for_text_9
						.for_icon.for_icon_9
						p Не боится смотреть на шаг вперед и анализировать разные варианты развития событий, выбирая лучший вариант для себя
					.for_text.for_text_10
						.for_icon.for_icon_10
						p Готов выстраивать свою жизнь по собственному сценарию и получать то, что он хочет и о чем давно мечтает
		button.button.button_for(data-toggle="modal" data-target="#myModal") Записаться на интенсив