mixin get(h4,p)
	.get
		h4.get_title= h4
		p.get_text= p
section#get
	.container
		h3.general_title.general_title_light.general_title_get Что получит каждый, кто посетит интенсив:
		.row
			.col-md-3.col-sm-3
				+get('1','Полное понимание, что такое скандинавские руны и как с ними работать')
			.col-md-3.col-sm-3
				+get('2','Уверенность в своих знаниях, подкрепленную практикой. Возможность составить свою собственную руническую формулу')
			.col-md-3.col-sm-3
				+get('3','Возможность составить свою собственную руническую формулу')
			.col-md-3.col-sm-3
				+get('4','Ответы на жизненно важные вопросы')
		.row
			.col-md-3.col-sm-3
				+get('5','Уверенность в своем будущем и будущем родных и близких с ним раработать')
			.col-md-3.col-sm-3
				+get('6','Возможность получать дополнительный доход при помощи рун')
			.col-md-3.col-sm-3
				+get('7','Умение составлять рунические расклады')
			.col-md-3.col-sm-3
				+get('8','Способность «правильно» считывать ответы рун')
		button.button.button_get(data-toggle="modal" data-target="#myModal") Записаться на интенсив