section#main
	.container
		.row
			.col-md-6.col-md-offset-6.com-sm-6.col-sm-offset-6
				p.pre Бесплатный онлайн-интенсив
				h1.main_title «Программирование событий на языке рун»
				.main_info
					p Даты: 
						span с 13 по 15 мая, 20:00 (МСК)
					p Автор курса: 
						span Анна Скуцкая
				.video_wrapper.video_wrapper_main
					iframe(src="https://youtube.com/embed/x7D1kS1DvUE?rel=0&autoplay=0" allowfullscreen)