mixin day(cl,h4,h5,...items)
	.day(class= cl)
		h4.day_title= h4
		h5.day_subtitle= h5
		ul.day_list
			each item in items
				li= item
section#plan
	.container
		h3.general_title.general_title_plan План интенсива:
		+day('day_1','День 1','Посвящен разбору денежных рунескриптов:','Вы узнаете, откуда берутся «правильные» рунескрипты','Почему один рунескрипт, срисованный на «секретном форуме» сработал, а другой навредил','Узнаете алгоритм написания денежных рунескриптов','Какие руны лучше использовать для усиления бизнеса', 'Составите свои денежные рунескрипты для разных жизненных ситуаций')
		+day('day_2','День 2','Разберем рунескрипты на любовь, семью, поиск второй половинки и укрепление отношений:','Вы узнаете, чем опасны чужие рунескрипты “на любовь”','Почему рунескрипт, который сработал у вашей подружки, вам не помог','Узнаете для каких случаев стоит выбирать те или иные руны','Составите свои рунескрипты для улучшения отношений','Получите ритуал выделения себя из толпы соперниц или конкурентов')
		+day('day_3','День 3','Поговорим о том самом секретном ингредиенте действенного рунескрипта, о котором умалчивают сайты и форумы, но без которого ни один, даже самый сильный рунескрипт, не будет работать:','Вы узнаете, какой важный этап пропускают начинающие рунологи, и почему у них руны не срабатывают','Поймете, почему у вас в ответственный момент не сработал рунескрипт','Узнаете, какие этапы в работе с рунами необходимо пройти, чтоб получить запланированный  результат','Составите свои рунескрипты для усиления работы рун')
		.clearfix
		button.button.button_plan(data-toggle="modal" data-target="#myModal") Записаться на интенсив