section#usefull
	.container
		h3.general_title.general_title_light.general_title_usefull Интенсив также будет очень полезен тем, кто уже давно с рунами, но:
		.custom_container
			.row
				.col-md-6.col-sm-6
					.usefull.usefull_1
						p.usefull_text Нет четких стабильных результатов в работе с рунами: иногда работает, иногда нет, а иногда и вовсе приводит к непредвиденным результатам
					.usefull.usefull_2
						p.usefull_text Не умеет составлять собственные рунические формулы таким образом, чтобы решить реальную проблему в своей жизни
					.usefull.usefull_3
						p.usefull_text Не знает, на чем прописывать свои рунические формулы и потому результаты приходят с трудом
				.col-md-6.col-sm-6
					.usefull.usefull_4
						p.usefull_text Не понимает, как делать предсказания на рунах. Как делать рунические расклады и  правильно считывать ответ рун
					.usefull.usefull_5
						p.usefull_text Прошел множество курсов о рунах, но все никак не может разложить всё «по полочкам». А в результате и вовсе не может применить всю силу рун для решения своих собственных задач
					.usefull.usefull_6
						p.usefull_text Хочет получить актуальные знания, как ускорить и усилить свои результаты
		button.button.button_usefull(data-toggle="modal" data-target="#myModal") Записаться на интенсив