#for
	padding 50px 0
.for_text
	width 100%
	display: table
	height 90px
	margin-bottom: 30px
	&:last-of-type
		margin-bottom: 0
	p
		display: table-cell
		vertical-align: middle
		padding-left: 10px
.for_icon
	width 61px
	height 100%
	margin-right: 10px
	display: table-cell
	background-image url(../img/for_icons.png)
	background-repeat no-repeat
.for_icon_1
	background-position: 0 center
.for_icon_2
	background-position: -61px center
.for_icon_3
	background-position: -122px center
.for_icon_4
	background-position: -183px center
.for_icon_5
	background-position: -244px center
.for_icon_6
	background-position: -305px center
.for_icon_7
	background-position: -366px center
.for_icon_8
	background-position: -427px center
.for_icon_9
	background-position: -488px center
.for_icon_10
	background-position: -549px center
.button_for
	margin-top: 50px