#for
	padding 50px 0
.for_text
	width 100%
	display: table
	height 90px
	margin-bottom: 30px
	&:last-of-type
		margin-bottom: 0
	p
		display: table-cell
		vertical-align: middle
		padding-left: 10px
.for_icon
	width 61px
	height 100%
	margin-right: 10px
	display: table-cell
	background-repeat no-repeat
	background-position: center
.for_icon_1
	background-image url(../img/for_icon_1.png)
.for_icon_2
	background-image url(../img/for_icon_2.png)
.for_icon_3
	background-image url(../img/for_icon_3.png)
.for_icon_4
	background-image url(../img/for_icon_4.png)
.for_icon_5
	background-image url(../img/for_icon_5.png)
.for_icon_6
	background-image url(../img/for_icon_6.png)
.for_icon_7
	background-image url(../img/for_icon_7.png)
.for_icon_8
	background-image url(../img/for_icon_8.png)
.for_icon_9
	background-image url(../img/for_icon_9.png)
.for_icon_10
	background-image url(../img/for_icon_10.png)
.button_for
	margin-top: 50px