#get
	padding 50px 0
	background-color: #511C6B
	background-image url(../img/get_bg.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
.get
	border-radius: 20px;
	background-color: rgb(214, 201, 224);
	box-shadow: 5px 5px 0px 0px rgba(214, 201, 224, 0.45);
	width 100%
	max-width: 267px;
	padding 13px 20px
	text-align: center
	margin 0 auto 40px
	height 170px
.get_title
	font-size: 24px;
	color: rgb(74, 23, 94);
	line-height: 1.165;
	margin-bottom: 10px
	border-bottom: 2px solid
	padding-bottom: 5px
	display: inline-block
	width 23px
	// &:after
	// 	content: ''
	// 	display block
	// 	height 2px
	// 	background-color: #551060
	// 	margin: 0 auto 10px
.get_text
	font-size: 15px;
	color: rgb(74, 23, 94);
	line-height: 1.333;
.button_get
	margin-top: 50px