#last
	padding 50px 0 40px
	background-color: #C5B4C2
	background-image url(../img/last_bg.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
	text-align: center
.last_title
	color #4a175e
	font-family: "OpenSansBold", sans-serif
	font-size: 24px
	text-transform: uppercase
.last_text
	font-size: 24px
	color #2d2233
	margin 30px 0
.last_subtitle
	font-size: 24px
	font-family: "OpenSansBold", sans-serif
	color #2d2233
.last_form
	border-radius: 20px
	width 100%
	max-width 821px
	margin 65px auto 55px
	background-color: #571D6E
	background-image url(../img/last_for_bg.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
	padding 25px 30px
	.form_wrapper
		max-width 455px
		margin 0 auto
.last_form_title
	font-size: 24px;
	font-family: "OpenSansBold", sans-serif;
	color: rgb(214, 201, 224);
	text-transform: uppercase;
	line-height: 1.083;
	span
		display block
		margin 25px 0
		text-transform: none
#footer
	p
		font-size: 18px;
		color: rgb(45, 34, 51);
		line-height: 2;
.modal-backdrop.in
	opacity .8
.mail_modal-content
	background-color: #571D6E
	background-image url(../img/last_for_bg.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
	padding 30px
	border-radius: 20px
button.close
	position absolute
	width: 35px
	height 35px
	border-radius: 50px
	line-height: 30px
	text-align: center
	font-size: 24px
	color: #000
	background-color: #F0F0F0
	top 10px
	right 10px
	left auto
	z-index 99
	opacity 1
	transition: all .1s ease-in-out
	&:hover
		color: #F0F0F0
		background-color: #000
.modal_form_wrapper
	width 100%
	max-width 455px
	margin 0 auto
.modal_title
	text-align: center
	width 86%
	margin 0 auto
	small
		margin 20px 0
	&:after
		content none
.politics_modal-content
	background-color #fff
	background-image none
	.modal-title
		font-size: 24px
		text-align: left 
		width 100%
		max-width 90%
		font-family: 'OpenSansBold', sans-serif
		small
			display: block
	p
		font-size: 16px
		margin-bottom: 15px
		text-align: left
.modal_mail_section_title
	margin 10px auto 20px
	width 100%
	max-width 85%