@media screen and (min-width 2295px)
	body
	.day_subtitle
		font-size: 20px
	.container
		width 1400px
	#main
		padding 60px 0
	footer p
		font-size: 16px
	.custom_container
		max-width 1080px
	.button 
		max-width 300px
	.mail_section_form
		margin-right: 0
	.mail_section_title:after
		right -50px
	.usefull_1
	.usefull_4
	.usefull_3
	.usefull_6
		height 145px
	.usefull_2
	.usefull_5
		height 180px
	.day_title
		top 6px
		right 9px
	.get
		max-width 100%
		height 150px
	.author_info_title
		padding 20px 0
@media screen and (max-width 1199px)
	#logo
		width 200px
	.contacts
		line-height: 28px
	.mail_section_title
		margin-top: 0
		&:after
			top 5px
			right -8px
	.get
		height 231px
	#footer p br
		display: none
@media screen and (max-width 991px)
	#logo
		display block
		float: none
		margin 0 auto
	.contacts
		float: none
		line-height: 16px
		text-align: center
	.contact
		margin 5px 5px 0
		display: inline-block
		span
			padding-left: 5px
	#main
	#for
	#usefull
	#plan
	#get
	#author
	#revs
		padding 40px 0
	#main
		background-image url(../img/last_bg.jpg)
		background-position: center
	.mail_section_title
		text-align: center
		margin-bottom: 20px
		&:after
			content: none
	.for_text
		height 92px
	.usefull_2
	.usefull_5
		height 180px
	.usefull_3
	.usefull_6
		height 124px
	.day
		width 100%
	.day_title
		top 6px
		right 9px
	.day_subtitle
		max-width 435px
	.button_for
	.button_usefull
	.button_plan
		margin-top: 40px
	.get
		height 251px
	.button_get
		margin-top: 20px
	#anna_img
		margin-right: 20px
	.author_info
		width 61%
	.author_info_title
		padding 20px 0
	.revs_img, .video_wrapper_revs
		width 100%
	.controls
		position: static
		height 49px
	.carousel-control
		position: static
		margin-top: 10px
	.carousel-control.left
		float left
	.carousel-control.right
		float right
	#text_revs
		margin-bottom: 30px
	#video_revs
		margin-bottom: 0
	#last
		padding 40px 0 20px
	.last_text
		margin 20px 0
	.last_form
		margin 30px 0 50px
@media screen and (max-width 767px)
	.for_text
		height auto
		max-width 320px
		margin 0 auto 20px
		text-align: center
		display block
	.for_icon
		height 67px
		margin: 0 auto 5px
		display block
	.for_text p
		display block
		padding 0
	.for_text:last-of-type
		margin-bottom: 20px
	.usefull
	.usefull:last-of-type
	.get
		height auto
		margin-bottom: 20px
	.day_title
		position: static
		margin-bottom: 20px
	.day_subtitle
		max-width 100%
	#anna_img
		float: none
		margin 0 auto
	.author_info
		float: none
		width 100%
		max-width 480px
		margin 0 auto
	.author_info_title
		text-align: center
	#footer p
		font-size: 16px
		line-height: 1.3
@media screen and (max-width 580px)
	.main_info p
		display block
	.main_info p:first-of-type::after
		content: none
	.form_wrapper
		background-color: transparent
	.email
	.button_mail
		float: none
		display block
		margin 0 auto 10px
		min-width 320px
	.button_mail
		margin-bottom: 0
	.mail_modal-content
		padding 0
	#text_revs .carousel-inner .revs_img
		height 170px
@media screen and (max-width 485px)
	#logo
		width 180px
	.contacts
		line-height: 14px
	.contact
		font-size: 12px
	.general_title
		font-size: 20px
		margin-bottom: 20px
	#main
	#for
	#usefull
	#plan
	#get
	#author
	#revs
		padding 30px 0
	#last
		padding 30px 0 15px
	.main_title
		font-size: 26px
		margin 10px 0 15px
	.mail_section_title
		font-size: 22px
	.button_for, .button_plan, .button_usefull
		margin-top: 30px
	.day_title
		font-size: 40px
		line-height: 1.3
	.day
		padding 20px
	.day_list li
	.author_info_list li
		padding-left: 15px
	.last_title
	.last_text
	.last_subtitle
	.last_form_title
		font-size: 20px
	.last_text
	.last_form_title span
		margin 15px 0
	.last_form
		padding 20px
		margin 20px auto 30px
	#footer p
		font-size: 14px