#plan
	padding 50px 0
	background-color: #BDACBC
	background-image url(../img/plan_bg.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
.day
	border: 1px solid rgb(62, 37, 28);
	border-radius: 20px;
	background-color: rgba(234, 216, 248, .4);
	width: 808px;
	padding 25px
	position relative
	margin-bottom: 40px
	float left
	&:last-of-type
		margin-bottom: 0
.day_2
	float: right
.day_title
	font-size: 60px;
	line-height: 60px
	font-family: "OpenSansExtraBold", sans-serif;
	color: rgba(45, 34, 51, 0.2);
	text-transform: uppercase;
	position: absolute
	top 25px
	right 20px
.day_subtitle
	font-family: "OpenSansBold", sans-serif;
	color: rgb(45, 34, 51);
	line-height: 1.5;
	margin-bottom: 20px
	width 100%
	max-width 530px
	font-size: 16px
.day_list
	li
		color: rgb(45, 34, 51);
		line-height: 1.5;
		margin-bottom: 10px
		position relative
		padding-left: 25px
		list-style: none
		&:before
			content ''
			display block
			position: absolute;
			width: 8px;
			height: 8px;
			border-radius: 50px
			background-color: #00222B
			top 8px
			left 0
		&:last-child
			margin-bottom: 0
.button_plan
	margin-top: 50px