#revs
	padding 50px 0 0
	background-color: #511C6B
	background-image url(../img/get_bg.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
#text_revs
	.carousel-inner
		padding-bottom: 5px
.carousel
	width 100%
	max-width 900px
	margin 0 auto 50px
.revs_img
.video_wrapper_revs
		width 690px
		margin 0 auto
.revs_img
	border-radius: 20px;
	box-shadow: 5px 5px 0px 0px rgba(214, 201, 224, 0.4);
	height 228px
	object-fit: contain
	object-position: center
	background-color #fff
.controls
	position: absolute
	left 0
	right 0
	margin 0 auto
	top calc(50% - 25px)
.carousel-control
	height 49px
	width 49px
	opacity 1
	text-shadow: none
	background-repeat no-repeat
	background-position: center
	border-radius: 50px
	background-color: transparent
.carousel-control.left
	background-image url(../img/prev.png)
.carousel-control.right
	background-image url(../img/next.png)