#usefull
	padding: 50px 0
	background-color: #551E6E
	background-image url(../img/usefull_bg.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
.general_title_usefull
	width 100%
	max-width 550px
	margin 0 auto 45px
.usefull
	width 100%
	max-width 500px
	margin 0 auto 25px
	background-color: #DCCAE2
	background-repeat no-repeat
	background-position: center
	background-size: auto
	display table
	padding 20px 12px
	border-radius: 20px;
	box-shadow: 5px 5px 0px 0px rgba(214, 201, 224, 0.45);
	text-align: center
	&:last-of-type
		margin-bottom: 0
.usefull_text
	display: table-cell
	vertical-align: middle
	font-family: "OpenSans",sans-serif;
	color: rgb(74, 23, 94);
	line-height: 1.75;
.button_usefull
	margin-top: 60px
.usefull_1
	height 123px
	background-image url(../img/usefull_img_1.png)
.usefull_2
	height 152px
	background-image url(../img/usefull_img_2.png)
.usefull_3
	height 96px
	background-image url(../img/usefull_img_3.png)
.usefull_4
	height 123px
	background-image url(../img/usefull_img_4.png)
.usefull_5
	height 152px
	background-image url(../img/usefull_img_5.png)
.usefull_6
	height 96px
	background-image url(../img/usefull_img_6.png)