footer
	padding 20px 0
	text-align: center
	background-color: #4a175e
	position relative
	&:before
	&:after
		content ''
		display block
		width 100%
		height 2px
		background-color: rgb(220,202,226)
		position: absolute
		left 0
		right 0
		margin 0 auto
	&:before
		top 9px
	&:after
		bottom 9px
	h5
		font-size: 20px;
		color: rgb(237, 227, 244);
		margin 0
		font-family: "OpenSansBold", sans-serif;
	p
	#conditions
		font-size: 14px;
		color: rgb(237, 227, 244);
		line-height: 1.786;
	#conditions
		text-decoration: underline
.soc_buttons
	width 100%
	margin: 0 auto
	a
		display: inline-block
		margin: 10px 7px 15px
		position relative
		z-index: 1
		.fa
			border-radius: 50px
			background-color: #DCCAE2
			width: 32px;
			height: 32px;
			color #4a175e
			line-height 32px
			font-size 18px
			position relative
			z-index 9
			transition all .3s ease
		&:hover
			.fa
				opacity .9
				transform: translateY(-3px)