#get
	padding 50px 0
.get_list
	border: 1px solid rgb(62, 37, 28);
	border-radius: 20px;
	background-color: rgba(234, 216, 248, .4);
	width: 100%;
	max-width: 650px;
	margin 0 auto
	padding 25px
	li
		color: rgb(45, 34, 51);
		line-height: 1.5;
		margin-bottom: 10px
		position relative
		padding-left: 25px
		list-style: none
		&:before
			content ''
			display block
			position: absolute;
			width: 8px;
			height: 8px;
			border-radius: 50px
			background-color: #00222B
			top 8px
			left 0
		&:last-child
			margin-bottom: 0