#main
	padding 30px 0 40px
	background-color: #C5B4C2
	background-image url(../img/last_bg.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
	text-align: center
.pre
	font-size: 24px
	color rgb(255, 0, 0);
	font-family: 'OpenSansExtraBold', sans-serif
	text-transform: uppercase
.main_title
	color #4a175e
	font-family: "OpenSansBold", sans-serif
	font-size: 22px
	margin 15px 0
	span
		font-family: 'OpenSansExtraBold', sans-serif
		display: block
.main_subtitle
	font-size: 24px
	font-family: "OpenSansBold", sans-serif
	background-color rgb(255, 0, 0);
	color #fff
	display: inline
	padding 5px
.main_subtitle_2
	font-size: 18px
	font-family: 'OpenSans', sans-serif
	color #2d2233
	margin 15px 0
.only
	color #4a175e
	font-size: 20px
	font-family: "OpenSansBold", sans-serif
.cost
	font-size: 26px
	font-family: "OpenSansBold", sans-serif
	color #2d2233
	margin 15px 0 25px
	text-align: center
	span
		text-decoration: line-through
.cost_light
	color #fff