@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	#main
	#for
	#get
	#last
		padding 60px 0
	.main_title
	.main_subtitle_2
		margin 30px 0
	.for_list
		max-width 700px
	.get_list
		max-width 900px
	.last_text
		max-width 1100px
	.button_last
		max-width 390px
	footer
		p
		#conditions
			font-size: 16px
@media screen and (max-width 1199px)
	#logo
		width 200px
	.contacts
		line-height: 28px
	.main_subtitle
		line-height: 2
@media screen and (max-width 991px)
	#logo
		display block
		float: none
		margin 0 auto
	.contacts
		float: none
		line-height: 16px
		text-align: center
	.contact
		margin 5px 5px 0
		display: inline-block
		span
			padding-left: 5px
	#main
	#for
	#get
	#last
		padding 40px 0
	footer p br
		display: none
@media screen and (max-width 485px)
	#logo
		width 180px
	.contacts
		line-height: 14px
	.contact
		font-size: 12px
	#main
	#for
	#get
	#last
		padding 30px 0
	.general_title
		font-size: 20px
		margin-bottom: 20px
	.main_title
		margin-top: 0
	.for_list
	.get_list
		padding 15px
		li
			padding-left: 15px
	.button_last
		display: inline-block
		padding 12px 10px
		height auto
		line-height: 1.3
	footer h5
		font-size: 18px
	.soc_buttons a
		margin 5px
	footer
		p
		#conditions
			font-size: 12px
@media screen and (max-width 380px)
	.pre
	.general_title
		font-size: 18px
	.main_title
	.last_text
		font-size: 20px
		line-height: 1.3
	.main_subtitle
		font-size: 22px
	.cost
		font-size: 24px
		margin-bottom: 20px
	.for_subtitle
		font-size: 20px
		line-height: 1.3
		margin 0 0 20px
	.button_last
		margin-top: 20px