mixin gp(cl,h4,p,...items)
	.get_packet(class= cl)
		h4.get_packet_title= h4
		ul.get_packet_list
			each item in items
				li= item
		p.get_packet_text= p

section#get
	.container
		h3.general_title.general_title_light.general_title_get Чему вы научитесь на курсе
			small (в рамках выбранного пакета)
		+gp('get_packet_silver','Серебро','После курса Серебро вы сможете самостоятельно работать с рунами и предсказывать с помощью рун','Вы узнаете о технике безопасности работы с рунами','Изготовите  свой рунический набор для работы','Изучите мантическое значение каждой руны','Узнаете магическое значение каждой руны','Научитесь применять каждую из рун Старшего футарка в практическом аспекте','Научитесь интерпретировать ответ рун в рамках заданного вопроса','Узнаете 3 этапа начертания рун','Получите мантры и заклинания рун','Узнаете, каким цветом прописывать руну в том или ином случае, и как это влияет на ее свойства','Научитесь творить настоящую магию с помощью 1 руны')
		+gp('get_packet_gold','Золото','После курса Золото вы сможете программировать события своей жизни по собственному желанию, без шаблонов','Вы узнаете алгоритм создания рунических  формул','Изучите 2 варианта создания рунических формул','Узнаете, на чем лучше прописывать рунескрипты','Будете знать продолжительность действия своих рунических формул','Научитесь правильно заговаривать руны при создании рунических формул','Изучите, как проводить диагностику текущей ситуации у человека','Научитесь слышать подсказки рун для выхода из создавшейся ситуации','Узнаете, как получить помощь рун для выхода из неприятной ситуации','Научитесь трактовать сочетания рун в предсказаниях')
		+gp('get_packet_platinum','Платина','После курса Платина вы сможете стать настоящим рунологом и оказывать  помощь в сложных ситуациях себе, своим близким или сделать руны своей любимой профессией, которая приносит неплохой личный доход','Вы научитесь работать со сложными руническими раскладами','Узнаете рунический расклад для анализа личности человека','Узнаете  расклад на любовь и отношения между людьми','Узнаете расклад для принятия сложного решения','Поймете, в каком направлении вам лучше развиваться','Осознаете свое предназначение','Научитесь проводить диагностику причин проблем в отношениях','Научитесь  выявлять причины проблем с деньгами или бизнесом','Сможете отсекать блоки и преграды, негативные связи','Узнаете правила диагностики сложных ситуаций для человека','Изучите принципы многоэтапной работы с руническими формулами','Научитесь делать обереги для защиты и очищения','Сможете создавать рунические амулеты и талисманы','Научитесь делать семейные рунические обереги для дома и семейного благополучия','Сможете работать в качестве рунолога с другими людьми')
		.clearfix