section#main
	.container
		p.pre Записи и домашние задания внизу страницы
		h1.main_title
			small Обучающий курс
			= head_title
		h2.main_subtitle Заговоры. Предсказания. Диагностика. Практическое применение
		p.main_text Дата проведения: 
			span с 23 мая, 20:00 (МСК)
		p.main_text Автор курса: 
			span Анна Скуцкая
		a.button.button_main(href="#tasks") К домашним заданиям