.modal.fade(tabindex="-1" role="dialog")#modalSilver
	.modal-dialog(role="document")
		.modal-content.mail_modal-content
			.modal-wrapper
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") X
				.modal-body
					h4.modal_title Пакет "Серебро"
					h5.modal_subtitle 26 уроков в записи
					ul.plan_packet_list.modal_list
						li Изготовление своего рунического набора
						li Правила. Техника. Материалы
						li Практический аспект каждой руны, для чего применяется
						li 3 этапа начертания руны
						li Правильное начертание каждой руны
						li Заговоры, мантры и цвет для каждой руны старшего футарка
						li Значение в предсказании
						li Управление каналом материальности
						li Улучшение физического состояния, повышение уровня энергии и силы воли
						li Отсечение негативных ситуаций и проблем, контактов с нежелательными людьми
						li Создание информационных каналов связи между объектами, привлечение нужных специалистов, инвестиций
						li Ускорение процессов, запуск решений давно зависших вопросов
						li Привлечение нужного человека в свою жизнь, гармонизация отношений и взаимопонимания
						li Открытие своего предназначения и занятия по душе, обретение жизненного равновесия
						li Разрушение проблем и блоков, препятствующих достижению желаемого
						li Усиление авторитета в обществе и бизнесе 
						li Привлечение идеи, вдохновения, везения
					p.modal_bonus 
						span Бонус: 
						| Как правильно задавать вопросы рунам, чтоб получать четкий понятный ответ
.modal.fade(tabindex="-1" role="dialog")#modalGold
	.modal-dialog(role="document")
		.modal-content.mail_modal-content
			.modal-wrapper
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") X
				.modal-body
					h4.modal_title Пакет "Золото"
					h5.modal_subtitle 4 урока + 26 уроков Серебра + бонус Серебра + чат
					ul.plan_packet_list.modal_list
						li Программируем события по собственному желанию, без шаблонов
						li Алгоритм создания рунических  формул
						li 2 подхода к руническим формулам 
						li На чем прописывать рунескрипты
						li Время действия рунических формул
						li Как правильно заговаривать руны при создании рунических формул
						li Практика создания своих рунических формул
						li Диагностика текущей ситуации у человека
						li Подсказки рун для выхода из создавшейся ситуации
						li Как получить помощь рун для выхода из неприятной ситуации
						li Помощь рун для создания нужных события  
						li Сочетания рун в предсказаниях - как трактовать?
					p.modal_bonus 
						span Бонус: 
						| Перевернутые руны в мантике
						br
						| Тонкости перевернутых рун в рунических формулах
.modal.fade(tabindex="-1" role="dialog")#modalPlatinum
	.modal-dialog(role="document")
		.modal-content.mail_modal-content
			.modal-wrapper
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") X
				.modal-body
					h4.modal_title Пакет "Платина"
					h5.modal_subtitle 1 урок + 26 уроков Серебра + 4 урока Золота + 2 бонуса (Серебро + Золото) + чат
					ul.plan_packet_list.modal_list
						li Правила диагностики сложных ситуаций для человека
						li Рунический расклад для анализа личности человека
						li Диагностика причин проблем в отношениях
						li Диагностика причин проблем с деньгами или бизнесом
						li Расклад на любовь и отношения между людьми
						li Расклад для принятия сложного решения 
						li В каком направлении вам лучше развиваться, ваше предназначение 
						li Отсечение блоков и преград, негативных связей
						li Обереги для защиты и очищения 
						li Создание рунических амулетов и талисманов
						li Семейные рунические обереги для дома и семейного благополучия
						li Многоэтапная работа с руническими формулами
					p.modal_bonus 
						span Бонус: 
						| Практика работы рунолога с другими людьми
script(src="../js/course.js")