section#main
	.container
		p.pre= head_description
		h1.main_title= head_title
		p.main_text Старт интенсива: 
			span с 13 мая, в 20:00 (МСК)
		.video_wrapper.video_wrapper_main
			iframe(src="https://youtube.com/embed/"+video+"?rel=0&autoplay=0" allowfullscreen)