.general_title
.main_title
.day_title
	font-weight: 900
.button
.author_info_title
.last_title
.last_subtitle
.last_form_title
.politics_modal-content	.modal-title
.mail_section_title
.email
.button_mail
.pre
.main_info p
.day_subtitle
	font-weight: bold
.general_title_usefull
	max-width 605px